# Python
*.pyc
__pycache__/
*.egg-info*
env/
venv/
venv3/
.venv/
.ipynb_*

# Folders
data/
tutorial1/
tutorial2/

# macOS system files
*.DS_Store

# Text editors and IDEs
*~
*.lock
*.swp
.vscode
.ropeproject/
.vscode/
